[submodule "transformers"]
	path = integration/transformers
	url = git@github.com:Samfisheryu/transformers.git
[submodule "libs/clickhouse-cpp"]
	path = libs/clickhouse-cpp
	url = git@github.com:ClickHouse/clickhouse-cpp.git
[submodule "vllm"]
	path = integration/vllm
	url = https://github.com/ProjectDMX/vllm.git
	branch = dmi_integration
