[submodule "transformers"]
	path = integration/transformers
	url = https://github.com/ProjectDMX/transformers-DMI.git
[submodule "libs/clickhouse-cpp"]
	path = libs/clickhouse-cpp
	url = https://github.com/ClickHouse/clickhouse-cpp.git
[submodule "vllm"]
	path = integration/vllm
	url = https://github.com/ProjectDMX/vllm-DMI.git
	branch = dmi_integration
