<clickhouse>
    <logger>
        <level>warning</level>
        <log>/tmp/dmi-quorum-harness/server/log.log</log>
        <errorlog>/tmp/dmi-quorum-harness/server/err.log</errorlog>
        <size>100M</size>
        <count>1</count>
        <console>0</console>
    </logger>
    <http_port>8110</http_port>
    <tcp_port>9010</tcp_port>
    <interserver_http_port>9109</interserver_http_port>
    <interserver_http_host>127.0.0.1</interserver_http_host>
    <listen_host>127.0.0.1</listen_host>
    <path>/tmp/dmi-quorum-harness/server/data</path>
    <tmp_path>/tmp/dmi-quorum-harness/server/tmp</tmp_path>
    <user_files_path>/tmp/dmi-quorum-harness/server/user_files</user_files_path>
    <format_schema_path>/tmp/dmi-quorum-harness/server/format_schemas</format_schema_path>
    <mark_cache_size>536870912</mark_cache_size>
    <zookeeper>
        <node>
            <host>127.0.0.1</host>
            <port>9181</port>
        </node>
    </zookeeper>
    <query_log>
        <database>system</database>
        <table>query_log</table>
        <partition_by>toYYYYMM(event_date)</partition_by>
        <flush_interval_milliseconds>1000</flush_interval_milliseconds>
    </query_log>
    <profiles>
        <default/>
    </profiles>
    <quotas>
        <default/>
    </quotas>
    <user_directories>
        <users_xml>
            <path>/tmp/dmi-quorum-harness/users.xml</path>
        </users_xml>
    </user_directories>
</clickhouse>
